extends layout

block content
 include nav
 .container
  .banner
    h1 Edit Entry

    p Instructions go here
  .new-entry-container
    form.new-entry(role='form', action='/edit/' + '#{entries.date}', method='post')
      fieldset.new-mood
       legend Mood
        each e in moods
         input(id='#{e.name}', type='radio',  class= 'input_hidden', name='mood', value='#{e.name}' checked=('#{e.name}'==='#{mood}' ? "checked" : undefined)) 
         label(for='#{e.name}' class="#{e.name===mood ? 'selected' : ''}")
          .icon
            img(src='../img/moods/#{e.name}.svg', alt="#{e.name} face")
            span #{e.name}  
      fieldset.new-activity
       each a in activities
        if entries.activity
          input(id='#{a.name}', type='checkbox',  class= 'input_hidden', name='activity[]', value='#{a.name}' checked=('#{entries.activity.indexOf(Object.values(a).toString())}' > -1 ? "checked" : undefined  )) 
          label(for='#{a.name}' class="#{ entries.activity.indexOf(Object.values(a).toString()) > -1 ? 'selected' : ''}")
           .icon
             img(src='../img/activities/#{a.name}.svg', alt="#{a.name} face")
             span #{a.name}  
        else 
          input(id='#{a.name}', type='checkbox',  class= 'input_hidden', name='activity[]', value='#{a.name}') 
          label(for='#{a.name}')
           .icon
             img(src='../img/activities/#{a.name}.svg', alt="#{a.name} face")
             span #{a.name}  

      fieldset.new-journal
       legend Journal
       textarea(type='text', name='journal', placeholder='Add Journal') #{entries.journal}

      button.btn(type='submit') Submit
    

