extends layout

block content
 include nav
 .container
  .banner
    h1 Edit Entry

    p Go ahead and edit your entry if you made an error, but try not to edit just because you didn't like what you wrote! Part of mindfulness is accepting the present as it is, and the past as it was.
  .new-entry-container
    form.new-entry(role='form', action='/edit/' + '#{entries.date}', method='post')
      fieldset.new-mood
       legend Mood
       each e in moods
         input(id='#{e.name}', type='radio',  class= 'input_hidden', name='mood', value='#{e.name}' checked=('#{e.name}'==='#{mood}' ? "checked" : undefined)) 
         label(for='#{e.name}' class="#{e.name===mood ? 'selected' : ''}")
          .icon
            img(src='../img/moods/#{e.name}.svg', alt="#{e.name} face")
            span #{e.name}  
      fieldset.new-activity
       legend Activity
       each a in activities
         if entries.activity
          input(id='#{a.name}', type='checkbox',  class= 'input_hidden', name='activity[]', value='#{a.name}' checked=checked(a, entries.activity))
          label(for='#{a.name}' class=selected(a, entries.activity))
           .icon
             img(src='../img/activities/#{a.name}.svg', alt="#{a.name} face")
             span #{a.name}  
         else 
          input(id='#{a.name}', type='checkbox',  class= 'input_hidden', name='activity[]', value='#{a.name}') 
          label(for='#{a.name}')
           .icon
             img(src='../img/activities/#{a.name}.svg', alt="#{a.name} face")
             span #{a.name}  

      fieldset.new-journal
       legend Journal
       textarea(type='text', name='journal', placeholder='Add Journal') #{entries.journal}

      button.btn(type='submit') Submit
    

